<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>인증방식 선택</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/member/member.css}">
</head>
<body>
	<div th:replace="~{header::header-fragment}"></div>

	<div id="container">
		<section id="identity">
		
		<h2>회원 가입 </h2>
		<div id="classification">
			
			<div class="main_join1">
				<!-- <img th:src="@{/images/member/join_img.svg}" alt="join"> -->
				<p class="member">일반회원 가입</p>
					<a th:href="@{/member/mjoin}"><button class="emailsfc">이메일 인증</button></a>
					<a th:href="@{/member/mjoin}"><button class="phonesfc">휴대폰 인증</button></a>
			</div>
			<div class="main_join2">
				<p class="company">기업회원 가입</p>
				<a th:href="@{/member/cpjoin}"><button class="company_join">기업회원 가입</button></a>
			</div>
		</div>
		</section>
	</div>	
	
	<div th:replace="~{footer::footer-fragment}"></div>
</body>
</html>