<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>일반회원가입</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/member/member.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- footer.html 연결  -->
	<div th:replace="~{header::header-fragment}"></div>

	<section id="mjoin" >
		 <div id="mjoin_box">
		 	  <form th:action="@{/member/mjoin}" method="post" name="users">
		   	<h2>일반 회원 가입</h2>
		    	<ul>
		    		<li>
		    			<label for="memberId">아이디</label>
		    			<input type="text" id="memberId" name="memberId" onkeyup="validateId()"
		    				placeholder="영문, 숫자만 사용해 주세요">
		   				<button type="button" id="btn_checkId" onclick="IdCheck()">중복 확인</button>
							<div class ="message" id="message_id2">
								<p>영문, 숫자만 입력하세요</p>
							</div>
							<div class ="message" id="message_id3">
								<p>아이디는 4~15자 이하까지 입력 가능합니다</p>
							</div>
							
							<!-- 중복 체크 여부 -->
							<input type="hidden" id="check_result" th:value="${'0'}">
			   		</li>
			   		<li>
			   			<label for="mpasswd">비밀번호</label>
			   			<input type="password" id="mpasswd" name="mpasswd" onkeyup="validatePw()"
			   				placeholder="8~15자 영문 + 숫자, 특수문자">
			   			<div class ="message" id="message_pw1">
			   				<p>영문, 숫자, 특수문자 조합 8~15자를 사용해주세요</p>
			   			</div>
			   		</li>
			   		<li>
			   			<label for="passwd2">비밀번호 확인</label>
			   			<input type="password" id="passwd2" name="passwd2"  onkeyup="checkPw()"
			   				placeholder="비밀번호를 다시 입력해주세요">
			   			<div class ="message" id="message_pw2">
			   				<p>비밀번호가 일치하지 않습니다</p>
			   			</div>
			   		</li>
			   		<li>
			   			<label for="mname">이름</label>
			   			<input type="text" id="mname" name="mname" onkeyup="validateName()"
			   				placeholder="한글만 사용해주세요.">
			   			<div class ="message" id="message_name">
			   				<p>한글만 입력하세요.</p>
			   			</div>
			   		</li>
			   		<li>
			   			<label for="gender">성별</label>
			   			<div id="gender-option">
			    			<input type="radio" class="gender" name="gender" value="남" checked>
			    			<p>남자</p>
			    			<input type="radio" class="gender" name="gender" value="여">
			    			<p>여자</p>
			   			</div>
			   		</li>
			   		<li>
			   			<div class="info" id="info__birth">
			   			<label for="birthday">생년월일</label>
						  <select class="box" id="birth-year" name="birth-year" >
						    <option value="" disabled selected>출생 연도</option> 
						  </select>
						  <select class="box" id="birth-month" name="birth-month" >
						    <option value="" disabled selected>월</option>
						  </select>
						  <select class="box" id="birth-day" name="birth-day" >
						    <option value="" disabled selected>일</option>
						  </select>
						</div>
						<!-- 생년월일 전체값 받는 input 박스 -->
						<input type="hidden" id="birth" name="birth">
			   		</li>
			   		<li>
			   			<div class="phone">
			   			<label for="phone">핸드폰 번호</label>
			   			<select class="box" id="phone_num" name="phone_num">
			   				<option>010</option>
			   			</select>
						  <input type="text" id="phone_b"  onkeyup="validatePhone()"
			   				placeholder="' - ' 제외하고 입력해주세요.">
						</div>
						<div class ="message" id="message_phone">
			   				<p>숫자만 입력해주세요</p>
			   			</div>
			   			<!-- 전화번호 전체값 받는 input 박스 -->
			   			<input type="hidden" id="full_phone" name="phone">
			   		</li>
			   		<li>
			   			<label for="email">이메일</label>
			   			<input type="text" id="email-head" name="email-head"
			   				placeholder="이메일"><span>@</span>
			   			<input class="domain_box" id="domain-txt" type="text" name="domain-txt"/>
							<select class="box" id="domain-list" >
							  <option value="type">직접 입력</option>
							  <option value="naver.com">naver.com</option>
							  <option value="google.com">google.com</option>
							  <option value="hanmail.net">hanmail.net</option>
							  <option value="nate.com">nate.com</option>
							  <option value="kakao.com">kakao.com</option>
							</select>
						<div class ="message" id="message_email">
			   				<p>존재하는 이메일 주소입니다</p>
			   			</div>
						<!-- 이메일 전체값 받는 input 박스 -->
						<input type="hidden" id="email" name="email" value="">
			   		</li>
			   	</ul>
			   	<div class="button">
			   		<button type="button" id="join_button" onclick="checkUser()">가입하기</button> 
			  	</div>
		  	</form>
			</div>
		</section>
		
		<!-- footer.html 연결  -->
		<div th:replace="~{footer::footer-fragment}"></div>
		
		<script>
			/* 아이디 중복 체크 */
			const IdCheck = () => {
				let inputId = document.getElementById("memberId").value;
				let checkResult = document.getElementById("check_result");
				
				// 아이디 유효성 검사
			    let idValid = validateId();
			    if (!idValid) {
			        alert('아이디를 올바르게 입력해주세요');
			        checkResult.value = "0";
			        return; // 유효하지 않은 경우 여기서 함수 종료
			    }
				
				$.ajax({
			        type: "POST",
			        url: "/member/check-id",
			        data: { memberId: inputId },
			        success: function(res){
			            console.log("성공: ", res);
			            if(res == "OK"){
			                alert('사용 가능한 아이디입니다.');
			                checkResult.value = "1";
			            }else{  //res == "NO"
			                alert('이미 가입된 아이디입니다.');
			            }
			        },
			        error: function(err){
			            console.log("실패: ", err);
			        }
			    });
			};
			
			//아이디 중복 체크: memberId 입력 필드 값 변경 시 check_result 값을 "0"로 설정 
			//(다른 아이디로 중복체크하고, 아이디를 변경했을때 중복체크한 처리되지 않도록)
		    document.getElementById("memberId").addEventListener("input", function() {
		        document.getElementById("check_result").value = "0";
		    });
			
			/* 아이디 유효성 검사 (input 값 입력하면 자동 실행) */
			function validateId() {
				/*alert('test');*/
			    let id = document.getElementById('memberId').value;
			    let regexId = /^[0-9a-zA-Z]+$/;
			    
			    if(id.length !== 0){
					// ID 길이 검사
				    if (id.length < 4 || id.length > 15) {
				        $('#message_id3').css('display', 'block');
				        $('#message_id2').css('display', 'none');
				        return false;
				    } else if (!regexId.test(id)) {
				        // ID 문자 유형 검사
				        $('#message_id2').css('display', 'block');
				        $('#message_id3').css('display', 'none');
				        return false;
				    } 
				    else {
				        // 조건을 만족하면 오류 메시지 숨기기
				        $('#message_id2').css('display', 'none');
				        $('#message_id3').css('display', 'none');
				        return true;
				    }
				    //값이 없으면 메세지 숨기기
				}else{
					$('#message_id2').css('display', 'none');
				    $('#message_id3').css('display', 'none');
				    return false;
				}
			}

			/* 비밀번호 유효성 검사 (input 값 입력하면 자동 실행) */
			function validatePw() {
				/* alert('test');*/ 
			    let pw1 = document.getElementById('mpasswd').value;
			    let regexPw1 = /[0-9]+/;      //숫자
				let regexPw2 = /[a-zA-Z]+/;   //영문자
				let regexPw3 = /[~!@#$%^&*()_+|]+/; //특수문자
			    
			    if(pw1.length !== 0){
					// ID 길이 검사
				    if(pw1.length < 8 || pw1.length > 15 || !regexPw1.test(pw1) ||
							!regexPw2.test(pw1) || !regexPw3.test(pw1)){
						$('#message_pw1').css('display', 'block');
						return false;
				    } else {
				        // 조건을 만족하면 오류 메시지 숨기기
				        $('#message_pw1').css('display', 'none');
				    }
				    //값이 없으면 메세지 숨기기
				}else{
					$('#message_pw1').css('display', 'none');
				}
			}

			/* 비밀번호 확인 (input 값 입력하면 자동 실행) */
			function checkPw() {
				 /*alert('test');*/
				let pw1 = document.getElementById('mpasswd').value;
				let pw2 = document.getElementById('passwd2').value;
			    
			    if(pw2.length !== 0){
					// ID 길이 검사
				    if(pw1 != pw2){
						$('#message_pw2').css('display', 'block');
				    } else {
				        // 조건을 만족하면 오류 메시지 숨기기
				        $('#message_pw2').css('display', 'none');
				    }
				    //값이 없으면 메세지 숨기기
				}else{
					$('#message_pw2').css('display', 'none');
				}
			}
			
			// '출생 연도' 셀렉트 박스 option 목록 동적 생성
			$(document).ready(function() {
			    // 출생 연도 설정 (1940년부터 2023년까지)
			    for (var year = 1940; year <= 2023; year++) {
			        $('#birth-year').append($('<option>', {
			            value: year,
			            text: year
			        }));
			    }
			    // 월 설정 (1월부터 12월까지)
			    for (var month = 1; month <= 12; month++) {
			        $('#birth-month').append($('<option>', {
			            value: month,
			            text: month
			        }));
			    }
			    // 일 설정 (1일부터 31일까지)
			    for (var day = 1; day <= 31; day++) {
			        $('#birth-day').append($('<option>', {
			            value: day,
			            text: day
			        }));
			    }
			});
			
			//생년월일 합치기
			$(document).ready(function() {
			    // 출생 연도, 월, 일 선택 변경 감지
			    $('#birth-year, #birth-month, #birth-day').change(function() {
			        updateBirthField();
			    });

			    // 생년월일 필드 업데이트 함수
			    function updateBirthField() {
			        var year = $('#birth-year').val();
			        var month = $('#birth-month').val();
			        var day = $('#birth-day').val();

			        // 값 검증: 모든 필드가 선택되었는지 확인
			        if(year && month && day) {
			            // 월과 일이 한 자리 수일 경우 앞에 0을 추가
			            month = month.padStart(2, '0');
			            day = day.padStart(2, '0');

			            // 생년월일 결합
			            var fullBirthDate = year + month + day;

			            // 결합된 생년월일을 #birth 필드에 설정
			            $('#birth').val(fullBirthDate);
			        }
			    }
			});
			
			
			// 이메일
			// 도메인 직접 입력 or domain option 선택 및 전체이메일 input #full-email에 값 넣기
			$(document).ready(function() {
			    // 이메일 앞부분과 도메인 입력 필드 변경 감지
			    $('#email-head, #domain-txt').on('input', function() {
			        updateEmailField();
			    });

			    // 도메인 선택 변경 감지
			    $('#domain-list').change(function() {
			        var selectedValue = $(this).val();
			        
			        if (selectedValue === 'type') {
			            // '직접 입력' 선택 시
			            $('#domain-txt').prop('readonly', false).val('').focus();
			        } else {
			            // 드롭다운에서 선택한 도메인으로 설정
			            $('#domain-txt').prop('readonly', true).val(selectedValue);
			        }
			        updateEmailField(); // 도메인 리스트 변경 시에도 이메일 필드 업데이트
			    });

			    // 이메일 필드 업데이트 함수
			    function updateEmailField() {
			        var emailLocalPart = $('#email-head').val();
			        var emailDomainPart = $('#domain-txt').val();

			        // 전체 이메일 주소 결합
			        var fullEmail = emailLocalPart + '@' + emailDomainPart;

			        // 결합된 이메일 주소를 #email 필드에 설정
			        $('#email').val(fullEmail);
			    }
			});
			

			/* 전화번호 유효성 검사 (input 값 입력하면 자동 실행) */
			function validatePhone() {
				/* alert('test'); */
				let tel = document.getElementById('phone_b').value;
				
				let regexTel = /^[0-9]+$/; //숫자
			    
			    if(tel.length !== 0){
					// ID 길이 검사
				    if(!regexTel.test(tel)){
						$('#message_phone').css('display', 'block');
				    } else {
				        // 조건을 만족하면 오류 메시지 숨기기
				        $('#message_phone').css('display', 'none');
				    }
				    //값이 없으면 메세지 숨기기
				}else{
					$('#message_phone').css('display', 'none');
				}
			}
			
			/* 전화번호 합치기 */
			document.addEventListener('DOMContentLoaded', function () {
			    // 전화번호 필드의 입력을 감지하는 이벤트 리스너 설정
			    document.getElementById('phone_b').addEventListener('input', updateFullPhone);
			});
	
			function updateFullPhone() {
			    // 전화번호 접두사 및 전화번호 필드에서 값을 가져옵니다.
			    let phonePrefix = document.getElementById('phone_num').value;
			    let phone2 = document.getElementById('phone_b').value;
	
			    // 접두사와 전화번호를 결합합니다.
			    let fullPhone = phonePrefix + phone2;
	
			    // 결합된 전체 전화번호를 숨겨진 필드에 설정합니다.
			    document.getElementById('full_phone').value = fullPhone;
			}
			
			/* 이름 유효성 검사 (input 값 입력하면 자동 실행) */
			function validateName() {
				/* alert('test'); */
				let mname = document.getElementById('mname').value;
				
				let regexName = /^[가-힣ㄱ-ㅎ]+$/; //한글
			    
			    if(mname.length !== 0){
					// 이름 검사
				    if(!regexName.test(mname)){
						$('#message_name').css('display', 'block');
				    } else {
				        // 조건을 만족하면 오류 메시지 숨기기
				        $('#message_name').css('display', 'none');
				    }
				    //값이 없으면 메세지 숨기기
				}else{
					$('#message_name').css('display', 'none');
				}
			}
			
			/* 회원가입 */
			const checkUser = () => {
			   let form = document.users;
				
			   let id = document.getElementById('memberId').value;
			   let pw1 = document.getElementById('mpasswd').value;
			   let pw2 = document.getElementById('passwd2').value;
			   let email = document.getElementById('email-head').value;
			   let email2 = document.getElementById('domain-txt').value;
			   let tel = document.getElementById('phone_b').value;
			   let birth1 = document.getElementById('birth-year').value;
			   let birth2 = document.getElementById('birth-month').value;
			   let birth3 = document.getElementById('birth-day').value;
			   let checkResult = document.getElementById('check_result').value;
			   
				// 모든 값 입력된 상태인지 확인
				   if(id.length == 0 || pw1.length == 0 || pw2.length == 0 ||
				   			email.length == 0 || email2.length == 0 || birth1 === "null" || birth1 === "" ||
				   			birth2 === "null" || birth2 === "" || birth3 === "null" || birth3 === "" || tel.length == 0){
						alert('모든 필드를 입력해야 합니다.');
						return false;	
					// 오류 메세지 뜨지 않은 상태인지 확인
				    } else if ($('.message').filter(function() {
				        return $(this).css('display') == 'block';
				    }).length > 0) {
				        alert('모든 필드를 올바르게 입력해야 합니다.');
				        return false;  
				   } else if (checkResult != "1"){
					   alert('아이디 중복체크를 해주세요.')
					   return false;
				   }
				
				form.submit();
			};

			
		</script>
</body>
</html>