<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/member/detail.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<section id="detail" >
    <div id="detail_box">
        <form th:action="@{|/member/pwUpdate/${member.mid}|}" method="post" name="users">
            <input type="hidden" name="mid" th:value="${member.mid}">
            <h2>회원 정보 수정</h2>
            <ul>
                <li>
                    <label for="memberId">아이디</label>
                    <input type="text" id="memberId" name="memberId" readonly th:value="${member.memberId}">
                </li>
                <li>
                    <label for="mname">이름</label>
                    <input type="text" id="mname" name="mname" readonly th:value="${member.mname}">
                </li>
                <li>
                    <label for="mpasswd">비밀번호</label>
                    <input type="password" id="mpasswd" name="mpasswd" onkeyup="validatePw()"
                           placeholder="8~15자 영문 + 숫자, 특수문자">
                    <div class ="message" id="message_pw1">
                        <p>영문, 숫자, 특수문자 조합 8~15자를 사용해주세요</p>
                    </div>
                </li>
                <li>
                    <label for="passwd2">비밀번호 확인</label>
                    <input type="password" id="passwd2" name="passwd2"  onkeyup="checkPw()"
                           placeholder="비밀번호를 다시 입력해주세요">
                    <div class ="message" id="message_pw2">
                        <p>비밀번호가 일치하지 않습니다</p>
                    </div>
                </li>
            </ul>
            <div class="button">
                <button type="submit" id="update_button" onclick="updateInfo()">수정하기</button>
                <button type="button" id="back_button" onclick="backlocation()">취소하기</button>
            </div>
        </form>
    </div>
</section>
<script>
    const updateInfo = () => {
        let update = document.getElementById("#update_button");
        update.submit();
    };

    const backloaction = () => {
        location.href = "/member/mypage";
    };
</script>
</body>
</html>