<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글목록...</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
	<div th:replace="~{header::header-fragment}"></div>

	<div id="container">
	  <section class="notice">
        <h3>커뮤니티</h3>
        <div class="board-menu">
            <div class="board">
                <div class="board-menu">
            <div class="board">
                <a th:href="@{/board/noti}" class="menu-link1 ">공지사항</a>
                <a th:href="@{/board/qna}" class="menu-link2">QNA</a>
                <a th:href="@{/board/free}" class="menu-link3">자유게시판</a>
                <a th:href="@{/rboard/list}" class="menu-link4 checked">리뷰</a>
            </div>
        </div>
            </div>
        </div>
    
        <!-- board list area -->
        <div id="board-list">
            <div class="board">
                <table class="board-table">
                    <thead>
                        <tr>
                            <th class="th-num">NO</th>
                            <th class="th-title">제목</th>
                            <th class="th-id">작성자</th>
                            <th class="th-date">작성일</th>
                            <th class="th-hit">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td><a th:href="@{/board/detail}">공지사항</a></td>
                            <td>관리자</td>
                            <td>2024.01.30</td>
                            <td>114</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><a th:href="@{/board/detail}">공지사항</a></td>
                            <td>관리자</td>
                            <td>2024.01.30</td>
                            <td>114</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><a th:href="@{/board/detail}">공지사항</a></td>
                            <td>관리자</td>
                            <td>2024.01.30</td>
                            <td>114</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><a th:href="@{/board/detail}">공지사항</a></td>
                            <td>관리자</td>
                            <td>2024.01.30</td>
                            <td>114</td>
                        </tr>
                        
                        <tr>
                            <td>12</td>
                            <td><a th:href="@{/board/detail}">공지사항</a></td>
                            <td>관리자</td>
                            <td>2024.01.30</td>
                            <td>114</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- 검색 -->
	    <div class="search-container">
	        <div class="input-wrapper">
	            <select id="search-select" name="field">
	                <option value="제목">제목</option>
	                <option value="작성자">작성자</option>
	            </select>
	            <input type="text" id="search-input" size="10%">
	            <button id="search-button">
	                <i class="fas fa-search"></i> <!-- 돋보기 아이콘 -->
	            </button>
	        </div>
	        <a th:href="@{/board/write}"><button id="write">글쓰기</button></a>
	    </div>
        
    </section>
    </div>
    
    <div th:replace="~{footer::footer-fragment}"></div>
</body>
</html>