<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Index...</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>

<!-- <meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}"> -->
<link rel="stylesheet" th:href="@{/css/board.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- footer.html 연결  -->
	<div th:replace="~{header::header-fragment}"></div>

    <div id="container">
    <section class="detail">
    	<!-- <h3>공지사항</h3> -->
        <div id="detail-board">
               <table class="detail-table">
                   <div class="detail-list">
                       <div class="detail-title">
                           <p>제목입니다제목입니다제목입니다제목입니다제목입니다제목입니다</p>
                       </div>
                       <div class="detail-profile">    
                           <img th:src="@{/images/board/avatar.png}" class="profile_img">
                           <div class="profile1">
                               <span class="pp1">jihun</span>
                               <span class="pp2">2024.02.01 </span> 
                           </div>
                       </div>
                       <div class="detail_img">
                           <img th:src="@{/images/board/bg_default.png}" class="detail-img">
                       </div>
                       <div class="detail-content">
                           <p>내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                       </div>
                       <div class="detail_emoji">
                           <span class="sp4"><i class="fa-regular fa-eye"></i> 1 </span> 
                           <span class="sp5"><i class="fa-regular fa-heart"></i> 1 </span>
                           <span class="sp6"><i class="fa-regular fa-comment"></i> 1 </span>
                       </div>
                   </div>

                   <!-- 댓글입력 -->
                   <div class="reply">
                       <img th:src="@{/images/board/avatar.png}" class="write_img">
                       <div class="reply-write">
                       <input type="text" id="reply-input" placeholder="댓글을 남겨주세요">
                       <input type="button" value="댓글" id="reply-write">     
                       </div>
                   </div>
                   <div class="reply-title">
                   <p class="detail_reply">댓글 <span>6</span></p></div>

                   <!-- 댓글목록 -->
                   <div class="reply-list">    
                       <div class="reply-profile">
                           <img th:src="@{/images/board/avatar.png}" class="profile_img">
                           <span class="p3">jihun</span>
                       </div>
                       <div class="reply-content">
                           <p>내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                           <span class="pp3">2024.02.01 </span>
                       </div>
                   </div>
                   <div class="reply-list">    
                       <div class="reply-profile">
                           <img th:src="@{/images/board/avatar.png}" class="profile_img">
                           <span class="p3">jihun</span>
                       </div>
                       <div class="reply-content">
                           <p>내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                           <span class="pp3">2024.02.01 </span>
                       </div>
                   </div>
                   <div class="reply-list">    
                       <div class="reply-profile">
                           <img th:src="@{/images/board/avatar.png}" class="profile_img">
                           <span class="p3">jihun</span>
                       </div>
                       <div class="reply-content">
                           <p>내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                           <span class="pp3">2024.02.01 </span>
                       </div>
                   </div>
                   <div class="reply-list">    
                       <div class="reply-profile">
                           <img th:src="@{/images/board/avatar.png}" class="profile_img">
                           <span class="p3">jihun</span>
                       </div>
                       <div class="reply-content">
                           <p>내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                           <span class="pp3">2024.02.01 </span>
                       </div>
                   </div>
                   <div class="list_btn">
                       <a th:href="@{/rboard/list}"><button id="write2">목록</button></a>
                   </div>
               </table>
        </div>
    </section>
	</div>
	
	<!-- footer.html 연결  -->
	<div th:replace="~{footer::footer-fragment}"></div>
</body>
</html>